<h2>This is the posts page</h2>
<h3>where you can look at post</h3>

<div class="posts-container">
    <div class="profile-post">
        <h6><%= newSitePost.name %></h6>
        <h6><%= newLocationPost.city %>, <%= newLocationPost.country %></h6>
        <p><%= newPost.date %></p> 
        <p><%= newPost.content %></p> 
        
        <button class="" type="submit">Edit Post</button>
        <button class="" type="delete">Delete Post</button>
    </div>
</div>