
    <% for (let i=posts.length-1; i>=0; i--) { %>
<div class="container posts-container">
        <div class="text-left profile-post">
        <h5><%= posts[i].siteName %></h5>
        <h6><%= posts[i].cityName %>, <%= posts[i].countryName %>, <%= posts[i].regionName %></h6>
        <p><%= posts[i].date %></p>
        <div>
            <p class="text-left"><%= posts[i].content %></p>
        </div>
        <div class="udBtns">
            <a class="button button--small button--transparent" href="/post/<%= posts[i].id %>/edit">Edit Post</a>
            <form method="POST" action="/post/<%= posts[i].id %>?_method=DELETE"><button class="button button--small button--transparent" type="submit">Delete Post</button></form>
        </div>
    </div>
</div>

<% } %>


