<h2>My Posts</h2>
<h3>Welcome to your PROFILE</h3>
<div class="posts-container">
    <div class="profile-post">
    <% for (let i=posts.length-1; i>=0; i--) { %>
            <h5><%= posts[i].siteName %></h5>
            <h5><%= posts[i].cityName %>, <%= posts[i].countryName %></h5>
            <h5><%= posts[i].regionName %></h5>
            <p><%= posts[i].date %></p> 
            <p><%= posts[i].content %></p> 
            <a class="button" href="/post/<%= posts[i].id %>/edit">Edit Post</a>
            <form method="POST" action="/post/<%= posts[i].id %>?_method=DELETE"><button type="submit">Delete Post</button></form>
    <% } %>
    </div>
</div>