<h2>this is the site page</h2>
<h3>we need to load all post for a specific site</h3>
<h4><%= site.name %></h4>
<h5><%= location.city %>, <%= location.country %></h5>

<% for (let i=0; i<posts.length; i++) { %>
    <p><%= posts[i].date %></p>
    <p><%= posts[i].content %></p>
<% } %>